*.sln
*.vcxproj*
*.target.mk

build/
node_modules/

/package-lock.json
/cnoke/package-lock.json
/koffi/package-lock.json
/luiggi/package-lock.json

/luiggi/vendor/node/deps/*.props
/luiggi/vendor/node/deps/*.xml
/luiggi/vendor/node/deps/*.targets
/luiggi/vendor/node/**/*.o
/luiggi/luiggi
/luiggi/luiggi.exe

/koffi/qemu/*.zst
/koffi/qemu/qemu/*
!/koffi/qemu/qemu/.gitkeep
/koffi/benchmark/atoi_cc
/koffi/benchmark/atoi_cc.exe
/koffi/benchmark/raylib_cc
/koffi/benchmark/raylib_cc.exe
/koffi/benchmark/raylib.dll
/koffi/benchmark/tmp
/koffi/doc/dist/doctrees
