*.sln
*.vcxproj*
*.target.mk

build/
node_modules/

/package-lock.json
/cnoke/package-lock.json
/koffi/package-lock.json
/luigi/package-lock.json

/luigi/vendor/node/deps/*.props
/luigi/vendor/node/deps/*.xml
/luigi/vendor/node/deps/*.targets
/luigi/vendor/node/**/*.o
/luigi/luigi
/luigi/luigi.exe

/koffi/test/*.zst
/koffi/test/qemu/*
!/koffi/test/qemu/.gitkeep
